footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* footer .copyright {
} */

footer .policy-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .policy-item {
    display: inline;
    margin-right: 15px;
}

footer .policy-text {
    color: white;
    text-decoration: none;
}
  